.header{
   

   .nav{
    display: flex;
    justify-content: space-evenly;
    background-color: #00000000;
    .nav-item{

        padding: 15px;
        a{
            color: $color-white-text;
            text-decoration: none;
        }
    }
  
   }
}